
<html>
    <head>
          <title>Express Proj</title>
          <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
          <h2> {{>header}} </h2>
          <h2> hbs {{title}} page content </h2>
          <h2> name is : {{name}}</h2>
          <h2> city is : {{city}}</h2>
          <h2> age is : {{age}}</h2>
          <img class="nor" src= {{img3}} alt="">
                    <h3> {{>footer}} </h3>


    </body>
    </html>
